# python
*.pyc
*__pycache__
.pytest_cache
venv
# environment
.env
.env.*
!.env.testing
# npm
node_modules
package-lock.json

.vscode
**/*.DS_Store
.idea
idea

masonite.sqlite3

# compiled assets
storage/compiled
